<!DOCTYPE html>
<html data-ng-app="notearkiv">
<head profile="http://www.w3.org/2005/10/profile">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="css/notearkiv.css" />
	<link rel="stylesheet" type="text/css" href="css/angular-busy.min.css" />
	<link rel="icon" href="favicon.png" type="image/png">
	<script type="text/javascript" src="script/vendors/jquery-2.1.4.min.js"></script>
	<script type="text/javascript" src="script/vendors/angular.min.js"></script>
	<meta charset="UTF-8">
	<title>NoteArkiv</title>
</head>
<body data-ng-controller="mainController">
   <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#/">Tjølling sangforenings Notearkiv</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li ><a href="#/" data-toggle="collapse" data-target="#navbar.in">Hjem</a></li>
            <li data-ng-show="isLoggedOn()" ><a href="#/search/current" data-toggle="collapse" data-target="#navbar.in">Søk</a></li>
            <li data-ng-show="hasAccess('AUTHOR')" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/sheets/new" data-toggle="collapse" data-target="#navbar.in">Ny note</a></li>
                <li data-ng-show="hasAccess('ADMIN')"><a href="#/users" data-toggle="collapse" data-target="#navbar.in">Brukere</a></li>
                <li><a href="#/quicklists" data-toggle="collapse" data-target="#navbar.in">Hurtiglister</a></li>
<!--                 <li role="separator" class="divider"></li> -->
<!--                 <li class="dropdown-header">Nav header</li> -->
<!--                 <li><a href="#">Separated link</a></li> -->
<!--                 <li><a href="#">One more separated link</a></li> -->
              </ul>
            </li>
            <li data-ng-hide="isLoggedOn()"><a href="#/logon" data-toggle="collapse" data-target="#navbar.in">Logg inn</a></li>
            <li data-ng-cloak data-ng-if="isLoggedOn()" class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><img data-ng-src="{{userGravatarUrl(25)}}"> {{userName}}<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/users/profile/{{userId}}" data-toggle="collapse" data-target="#navbar.in">Profil</a></li>
                <li><a href="#" data-toggle="collapse" data-target="#navbar.in">Bytt passord</a></li>
                <li role="separator" class="divider"></li>
                <li><a data-ng-click="logoff()" data-toggle="collapse" data-target="#navbar.in" href=>Logg ut</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hjelp<span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#/help" data-toggle="collapse" data-target="#navbar.in">Hjelp</a></li>
                <li><a href="#/about" data-toggle="collapse" data-target="#navbar.in">Om NoteArkiv</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

	<div id="mainContainer" class="container">
		<div id="errorMsg" data-ng-cloak data-ng-show="errorOccured" class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{errorMsg}}
		</div>
		<div data-ng-repeat="msg in okMessages" data-ng-cloak class="alert alert-success" role="alert">
			<span class="glyphicon glyphicon-ok" ></span> {{msg}}
		</div>
		<div data-ng-view></div>
	</div>

	<script type="text/javascript" src="script/vendors/angular-route.min.js"></script>
	<script type="text/javascript" src="script/vendors/bootstrap.min.js"></script>
	<script type="text/javascript" src="script/vendors/angular-busy.min.js"></script>
	<script type="text/javascript" src="script/vendors/angular-file-upload.min.js"></script>
	<script type="text/javascript" src="script/vendors/ui-bootstrap-tpls-1.2.0.min.js"></script>
	<script type="text/javascript" src="script/notearkiv.js"></script>
	<script type="text/javascript" src="script/services/authService.js"></script>
	<script type="text/javascript" src="script/services/authTokenService.js"></script>
	<script type="text/javascript" src="script/services/searchSheetsService.js"></script>
	<script type="text/javascript" src="script/services/sheetsService.js"></script>
	<script type="text/javascript" src="script/services/voicesService.js"></script>
	<script type="text/javascript" src="script/services/tagsService.js"></script>
	<script type="text/javascript" src="script/services/simpleDlgService.js"></script>
	<script type="text/javascript" src="script/services/usersService.js"></script>
	<script type="text/javascript" src="script/controllers/mainController.js"></script>
	<script type="text/javascript" src="script/controllers/editSheetController.js"></script>
	<script type="text/javascript" src="script/controllers/logonController.js"></script>
	<script type="text/javascript" src="script/controllers/changepwController.js"></script>
	<script type="text/javascript" src="script/controllers/searchController.js"></script>
	<script type="text/javascript" src="script/controllers/userProfileController.js"></script>
	<script type="text/javascript" src="script/controllers/usersController.js"></script>
	<script type="text/javascript" src="script/controllers/userController.js"></script>
	<script type="text/javascript" src="script/dialogs/simpleConfirmDlg.js"></script>
</body>
</html>