<h3 class="pagetop">Søk</h3>
<ul class="nav nav-tabs">
	<li role="presentation" data-ng-class="{ active: isTabSet('current') }"><a
		data-ng-click="setTab('current')" href=>Gjeldende</a></li>
	<li role="presentation" data-ng-class="{ active: isTabSet('lists') }"><a
		data-ng-click="setTab('lists')" href=>Lister</a></li>
	<li role="presentation" data-ng-class="{ active: isTabSet('newest') }"><a
		data-ng-click="setTab('newest')" href=>nyeste</a></li>
	<li role="presentation" data-ng-class="{ active: isTabSet('simple') }"><a
		data-ng-click="setTab('simple')" href=>Enkel søk</a></li>
	<li role="presentation" data-ng-class="{ active: isTabSet('advansed') }"><a
		data-ng-click="setTab('advansed')" href=>Avansert søk</a></li>
</ul>
<div class="small-spacer"> </div>
<div data-ng-show="isTabSet('current')">
Viser de notene som det øves på for tiden.... Snart
</div>
<div data-ng-show="isTabSet('lists')">
her kommer en mulighet for å søke på noter tilhørende en gitt liste.
</div>
<div data-ng-show="isTabSet('newest')">
Viser de notene som er registrert de siste x dagene. (kommer snart)
</div>
<div data-ng-show="isTabSet('simple')">
<form class="form-horizontal">
  <div class="form-group">
    <label for="title" class="col-sm-1 control-label">Tittel</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="title" data-ng-model="title" placeholder="Angi deler av en tittel, kan godt være midt i et sted">
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-default"  data-ng-click="searchSimple()">Søk</button>
    </div>
  </div>
</form>
</div>
<div data-ng-show="isTabSet('advansed')">
Her kommer det avansert søk med mange muligheter.
</div>
<div class="small-spacer"> </div>
<div data-ng-show="hasResult()" data-ng-repeat="sheetData in getSheetList()">
	<div data-ng-if="$first" class="row listHeading">
		<div class="col-md-4">Tittel</div>
		<div class="col-md-4">Komponist</div>
		<div class="col-md-3">Arrangør</div>
	</div>
	<div data-ng-class-odd="'listodd'" data-ng-class-even="'listEven'" class="row sheetHeading" data-toggle="collapse" data-target="{{ '#sheetInfo-' + $index }}" aria-expanded="false" aria-controls="{{ 'sheetInfo-' + $index }}">
		<div class="col-md-4">{{sheetData.sheet.title}}</div>
		<div class="col-md-4">{{sheetData.sheet.composedBy}}</div>
		<div class="col-md-4">{{sheetData.sheet.arrangedBy}}</div>
	</div>
	<div data-ng-class-odd="'listodd'" data-ng-class-even="'listEven'" class="row topBorder collapse" id="{{ 'sheetInfo-' + $index }}">
	<div class="col-md-12">
		<div class="col-md-5" >
			<div><span class="listLabel">Beskrivelse: </span>{{sheetData.sheet.description}}</div>
			<div><span class="listLabel">Registrert: </span>{{sheetData.sheet.registeredDate | date:'dd.MM.yyyy HH:mm'}}<span class="listLabel"> av </span>{{sheetData.sheet.registeredBy}}</div>
			<div><span class="listLabel">Note id: </span>{{sheetData.sheet.noteId}}</div>
			<div><a class="" href="#/sheets/{{sheetData.sheet.noteId}}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Endre</a></div>
			<div><a class="" href=><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Slett</a></div>
		</div>
		<div class="col-md-7">TODO Her kommer filliste</div>
		</div>
	</div>
	
</div>