<h3 class="pagetop">Note søk</h3>
<ul class="nav nav-tabs">
	<li role="presentation" data-ng-class="{ active: isTabSet('current') }"><a
		href="#/search/current">Gjeldende</a></li>
	<li role="presentation" data-ng-class="{ active: isTabSet('newest') }"><a
		href="#/search/newest">nyeste</a></li>
	<li role="presentation" data-ng-class="{ active: isTabSet('simple') }"><a
		href="#/search/simple">Enkel søk</a></li>
	<li role="presentation" data-ng-class="{ active: isTabSet('advanced') }"><a
		href="#/search/advanced">Avansert søk</a></li>
</ul>
<div class="small-spacer"> </div>
<div data-ng-show="isTabSet('current')">
Viser de notene som det øves på for tiden.
<button type="submit" class="btn btn-default" data-ng-click="searchCurrent()">Søk</button>
</div>
<div data-ng-show="isTabSet('newest')">
	<form class="form-inline">
		<span>Vis de notene som er registrert de siste</span>  
			<select data-ng-model="days">
				<option value="7">7</option>
				<option value="30">30</option>
				<option value="60">60</option>
				<option value="180">180</option>
				<option value="365">365</option>
			</select>
		<span>dagene.</span>
		<button type="submit" class="btn btn-default" data-ng-click="searchNewest()">Søk</button>
	</form>
</div>
<div data-ng-show="isTabSet('simple')">
	<form class="form-inline">
<!-- 		<div class="form-group"> -->
			<label for="title" class="control-label">Tittel</label>
			<div style="width: 60%" class="input-group">
				<input  type="text" class="form-control" id="title" data-ng-model="title"
					placeholder="Angi deler av en tittel, kan godt være midt i et sted">
				<span class="input-group-btn">
					<button class="btn btn-default" type="button" data-container="body" data-toggle="popover" data-placement="top"
					 data-trigger="focus"
					title="Hjelp for søk" data-content="Du kan søke på hele eller deler av en tittel. Det kan være starten på tittelen eller midt i. Søk med alt fra en bokstav til hele tittelen. Finner du ikke det du leter etter bruk færre bokstaver.">
						<span class='glyphicon glyphicon-question-sign' aria-hidden='true'></span>
					</button>
				<button type="submit" class="btn btn-default" data-ng-click="searchSimple()">Søk</button>
				</span>
			</div>
<!-- 			<div class=""> -->
<!-- 			</div> -->
<!-- 		</div> -->
	</form>
</div>
<div data-ng-show="isTabSet('advanced')">
<advanced-search data="searchListData" searchParam="advancedParam" prom="prom"></advanced-search>
</div>
<div class="small-spacer"> </div>

<div data-cg-busy="{promise:prom.getPromise,message:'Søker ...'}">
	<h4 class="sub-heading">Søkeresultat</h4>
	<sheets-list data="searchListData" resultid="'searchResult'"></sheets-list>
</div>