<h3 class="pagetop">Om NoteArkiv</h3>
<p>NoteArkiv er et system for kornoter utviklet av Jarle Jacobsen</p>
<div> </div>
<div> </div>
<div> </div>
<div>Lisenser og lignende for tredjeparts biblioteker </div>


<table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Hva</th>
        <th>Beskrivelse/Lisens</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Icon</td>
        <td>Icons made by <a href="http://www.freepik.com" target="_blank" title="Freepik">Freepik</a> 
from <a href="http://www.flaticon.com" target="_blank" title="Flaticon">www.flaticon.com</a> is licensed by 
<a href="http://creativecommons.org/licenses/by/3.0/" target="_blank" title="Creative Commons BY 3.0">CC BY 3.0</a></td>
      </tr>
      <tr>
        <td>Angular.js</td>
        <td>
        	Nettside: <a href="https://angularjs.org/" target="_blank">https://angularjs.org/</a>, '
        	lisens: <a href="https://opensource.org/licenses/MIT" target="_blank">https://opensource.org/licenses/MIT</a>
        </td>
      </tr>
      <tr>
        <td>Bootstrap</td>
        <td>
        	Nettside: <a href="http://getbootstrap.com/" target="_blank">http://getbootstrap.com/</a>, '
        	lisens: <a href="https://opensource.org/licenses/MIT" target="_blank">https://opensource.org/licenses/MIT</a>
        </td>
      </tr>
      <tr>
        <td>jQuery</td>
        <td>
        	Nettside: <a href="https://jquery.com/" target="_blank">https://jquery.com/</a>, '
        	lisens: <a href="https://jquery.org/license/" target="_blank">https://jquery.org/license/</a>
        </td>
      </tr>
      <tr>
        <td>angular-ui-bootstrap</td>
        <td>
        	Nettside: <a href="http://angular-ui.github.io/bootstrap/" target="_blank">http://angular-ui.github.io/bootstrap/</a>, '
        	lisens: <a href="https://opensource.org/licenses/MIT" target="_blank">https://opensource.org/licenses/MIT</a>
        </td>
      </tr>
      <tr>
        <td>angular-file-upload</td>
        <td>
        	Nettside: <a href="https://github.com/nervgh/angular-file-upload" target="_blank">https://github.com/nervgh/angular-file-upload</a>, '
        	lisens: <a href="https://opensource.org/licenses/MIT" target="_blank">https://opensource.org/licenses/MIT</a>
        </td>
      </tr>
      <tr>
        <td>angular-busy</td>
        <td>
        	Nettside: <a href="https://github.com/cgross/angular-busy" target="_blank">https://github.com/cgross/angular-busy</a>, '
        	lisens: <a href="https://github.com/cgross/angular-busy/blob/master/LICENSE" target="_blank">https://github.com/cgross/angular-busy/blob/master/LICENSE</a>
        </td>
      </tr>
    </tbody>
  </table>