<h3 class="pagetop">Velkommen til notearkivet</h3>
<div class="jumbotron">
	<div>Dette er notearkivet til Tjølling sangforening</div>
	<div>&nbsp;</div>
	<div>Noter, stemmefiler og annen informasjon som finnes tilgjengelig i dette systemet eies av
		Tjølling Sangforening. Det er kun ment for Tjølling Sangforening sine medlemmer og må ikke
		distribueres videre.</div>
</div>
<div data-ng-show="hasAccess('READER')">
<h4 class="sub-heading">Snarveier</h4>
<a class="btn btn-primary btn-lg " href="#/search/current">Gjeldende noter</a>
<a class="btn btn-primary btn-lg " href="#/search/newest">Nyeste noter</a>
<a class="btn btn-primary btn-lg " href="#/lists">Lister</a>
<a data-ng-show="hasAccess('AUTHOR')" class="btn btn-primary btn-lg " href="#/sheets/new"><span class="glyphicon glyphicon-edit"></span> Ny note</a>
</div>