<h3 data-ng-show="isNew" class="pagetop">Registrer ny note</h3>
<h3 data-ng-hide="isNew" class="pagetop">Note info for: "{{sheet.title}}"</h3>
<form data-cg-busy="{promise:getPromise,message:'Henter note'}" data-cg-busy="{promise:sacePromise,message:'Lagrer note',minDuration:2000}" class="form-horizontal main">
  <div class="form-group">
    <label for="title" class="col-sm-2 col-md-1 control-label">Tittel</label>
    <div class="col-sm-7 col-lg-5 col-md-6">
      <input type="text" class="form-control" id="title" data-ng-model="sheet.title" placeholder="Tittel">
    </div>
  </div>
  <div class="form-group">
    <label for="composedBy" class="col-sm-2 col-md-1 control-label">Komponert</label>
    <div class="col-sm-7 col-lg-5 col-md-6">
      <input type="text" class="form-control" id="composedBy" data-ng-model="sheet.composedBy" placeholder="Komponist">
    </div>
  </div>
  <div class="form-group">
    <label for="arrangedBy" class="col-sm-2 col-md-1 control-label">Arrangert</label>
    <div class="col-sm-7 col-lg-5  col-md-6">
      <input type="text" class="form-control" id="arrangedBy" data-ng-model="sheet.arrangedBy" placeholder="Arrangør">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-12">Beskrivelse</label>
    <div class="col-sm-9 col-md-10 col-lg-8">
      <textarea class="form-control ta-vertical" id="description" data-ng-model="sheet.description" placeholder="En beskrivelse" ></textarea>
    </div>
  </div>
  <div class="form-group">
  	<fieldset data-cg-busy="{promise:getVoicesPromise,message:'Henter stemmer'}"  class="voices-border col-xs-11 col-sm-4 col-lg-2  col-md-3">
  		<legend class="voices-border">Stemmer</legend>
			<span data-ng-repeat="voice in selectedVoices">
				<label style="width: 6em"><input type="checkbox" data-ng-model="voice.selected"> {{voice.name}}</label>
				<br data-ng-if="$odd">
			</span>
  	</fieldset>
  	<fieldset data-cg-busy="{promise:getTagsPromise,message:'Henter sjangere'}" class="voices-border col-xs-11 col-sm-9 col-lg-5  col-md-6">
  		<legend class="voices-border">Sjanger</legend>
  		<div class="col-xs-12 col-sm-4">
		    <label for="connected">Tilknyttet<span class="visible-xs-inline"> ({{connectedTags.length}})</span></label><br>
		    <select class="tagsSelect" name="connected" id="connected" size="6" data-ng-model="connected" 
		    	data-ng-options="tag.name for tag in connectedTags track by tag.id" data-ng-dblclick="disconnect()">
		    </select><br>
			<button class="btn btn-default btn-xs"  data-ng-click="disconnect()">Frakoble</button>
  		</div>
  		
  		<div class="col-xs-6 col-sm-4">
		    <label for="available">Tilgjengelige<span class="visible-xs-inline"> ({{availableTags.length}})</span></label><br>
		    <select class="tagsSelect" name="available" id="available" size="6" data-ng-model="available" 
		    	data-ng-options="tag.name for tag in availableTags track by tag.id" data-ng-dblclick="connect()">
		    </select><br>
			<button class="btn btn-default btn-xs"  data-ng-click="connect()">Tilknytt</button>
  		</div>
  		<div class="col-xs-6 col-sm-3">
		    <label for="available">Ny sjanger</label><br>
		    <input type="text" class="form-control" id="newTag" data-ng-model="newTag">
			<button data-cg-busy="{promise:addTagPromise,message:'Lagrer'}" class="btn btn-default"  data-ng-click="addTag()">Legg til</button><br>
			<button class="btn btn-default"  data-ng-click="deleteTag()">Slett</button>
  		</div>
  	</fieldset>
  </div>
  <div class="form-group" data-ng-hide="isNew">
	<div class="col-xs-8 col-sm-7 col-md-6">
		<span class="listLabel">Note id: </span>{{sheet.noteId}} <span class="listLabel">Registrert: </span>{{sheet.registeredDate | date:'dd.MM.yyyy
						HH:mm'}}<span class="listLabel"> av </span>{{sheet.registeredBy}}
	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-md-10 col-lg-8 text-right">
      <button type="submit" class="btn btn-default"  data-ng-click="newSheet()">Ny</button>
      <button type="submit" class="btn btn-default"  data-ng-click="saveSheet()">Lagre</button>
    </div>
  </div>
</form>
<h3 data-ng-hide="isNew" class="pagetop">Filer for: "{{sheet.title}}"</h3>
<div data-ng-hide="isNew" class="" data-cg-busy="{promise:getFilesPromise,message:'Henter filer'}">
	<div class="col-xs-12 col-sm-9 col-md-8 col-lg-7">
		<div  data-ng-repeat="file in files">
			<div data-ng-if="$first" class="row listHeading">
				<div class="col-md-4">Filnavn</div>
				<div class="col-md-4">Beskrivelse</div>
				<div class="col-md-3">Aktivitet</div>
			</div>
			<div data-ng-class-odd="'listodd'" data-ng-class-even="'listEven'" class="row">
				<div class="col-md-4">{{file.name}}</div>
				<div class="col-md-4">{{file.description}}</div>
				<div class="col-md-3">TODO</div>
			</div>
		</div>
	</div>
	<div class="col-xs-2 col-sm-2 ">
		<input type="file" value="legg til fil" data-nv-file-select="" data-uploader="uploader" />
		<ul>
            <li data-ng-repeat="item in uploader.queue">
                Name: <span data-ng-bind="item.file.name"></span>
                <input type="text" class="form-control" id="newTag" data-ng-model="item.myData.description"><button data-ng-click="item.upload()">upload</button>
            </li>
        </ul>      <button type="submit" class="btn btn-default"  data-ng-click="newFile()">Ny fil</button>
	</div>
</div>
  