<h3 class="pagetop">Note informasjon</h3>
<!-- <div style="background-color: aqua;"> -->
<form class="form-horizontal">
  <div class="form-group">
    <label for="title" class="col-sm-1 control-label">Tittel</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="title" data-ng-model="sheet.title" placeholder="Tittel">
    </div>
  </div>
  <div class="form-group">
    <label for="composedBy" class="col-sm-1 control-label">Komponert</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="composedBy" data-ng-model="sheet.composedBy" placeholder="Komponist">
    </div>
  </div>
  <div class="form-group">
    <label for="arrangedBy" class="col-sm-1 control-label">Arrangert</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="arrangedBy" data-ng-model="sheet.arrangedBy" placeholder="Arrangør">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-12">Beskrivelse</label>
    <div class="col-sm-6">
      <textarea class="form-control ta-vertical" id="description" data-ng-model="sheet.description" placeholder="En beskrivelse" ></textarea>
    </div>
  </div>
  <div class="form-group">
	<div class="col-sm-2">
		<label for="noteId" class="col-sm-1 control-label">Note nr</label> 
		<input type="text" readonly
			class="form-control" id="noteId" data-ng-model="sheet.noteId">
	</div>
	<div class="col-sm-2">
		<label for="registeredBy" class="col-sm-1 control-label">Reg. av</label> 
		<input type="text" readonly
			class="form-control" id="registeredBy" data-ng-model="sheet.registeredBy">
	</div>
	<div class="col-sm-2">
		<label for="registeredDate" class="col-sm-1 control-label">Reg. dato</label> 
		<input type="date" readonly
			class="form-control" id="registeredDate" data-ng-model="sheet.registeredDate">
	</div>
  </div>
	<!--   <div class="form-group"> -->
<!--     <div class="col-sm-offset-2 col-sm-10"> -->
<!--       <div class="checkbox"> -->
<!--         <label> -->
<!--           <input type="checkbox"> Remember me -->
<!--         </label> -->
<!--       </div> -->
<!--     </div> -->
<!--   </div> -->
  <div class="form-group">
    <div class="col-sm-offset-5 col-sm-1">
      <button type="submit" class="btn btn-default"  data-ng-click="saveSheet()">Lagre</button>
    </div>
  </div>
</form>
<!-- </div> -->