<h3 data-ng-show="isNew" class="pagetop">Registrer ny note</h3>
<h3 data-ng-hide="isNew" class="pagetop">Note info for: "{{sheet.title}}"</h3>
<form data-cg-busy="{promise:sheetPromise,message:sheetMsg}" class="form-horizontal main">
  <div class="form-group">
    <label for="title" class="col-sm-2 col-md-1 control-label">Tittel</label>
    <div class="col-sm-7 col-lg-5 col-md-6">
      <input type="text" class="form-control" id="title" data-ng-model="sheet.title" placeholder="Tittel">
    </div>
  </div>
  <div class="form-group">
    <label for="composedBy" class="col-sm-2 col-md-1 control-label">Komponert</label>
    <div class="col-sm-7 col-lg-5 col-md-6">
      <input type="text" class="form-control" id="composedBy" data-ng-model="sheet.composedBy" placeholder="Komponist">
    </div>
  </div>
  <div class="form-group">
    <label for="arrangedBy" class="col-sm-2 col-md-1 control-label">Arrangert</label>
    <div class="col-sm-7 col-lg-5  col-md-6">
      <input type="text" class="form-control" id="arrangedBy" data-ng-model="sheet.arrangedBy" placeholder="Arrangør">
    </div>
  </div>
  <div class="form-group">
    <label for="description" class="col-sm-12">Beskrivelse</label>
    <div class="col-sm-9 col-md-10 col-lg-8">
      <textarea class="form-control ta-vertical" id="description" data-ng-model="sheet.description" placeholder="En beskrivelse" ></textarea>
    </div>
  </div>
  <div class="form-group">
  	<fieldset data-cg-busy="{promise:getVoicesPromise,message:'Henter stemmer'}"  class="voices-border col-xs-11 col-sm-4 col-lg-2  col-md-3">
  		<legend class="voices-border">Stemmer</legend>
			<span data-ng-repeat="voice in selectedVoices">
				<label style="width: 6em"><input type="checkbox" data-ng-model="voice.selected"> {{voice.name}}</label>
				<br data-ng-if="$odd">
			</span>
  	</fieldset>
  	<fieldset data-cg-busy="{promise:getTagsPromise,message:'Henter sjangere'}" class="voices-border col-xs-11 col-sm-9 col-lg-5  col-md-6">
  		<legend class="voices-border">Sjanger</legend>
  		<div class="col-xs-12 col-sm-4">
		    <label for="connected">Tilknyttet<span class="visible-xs-inline"> ({{connectedTags.length}})</span></label><br>
		    <select class="tagsSelect" name="connected" id="connected" size="6" data-ng-model="connected" 
		    	data-ng-options="tag.name for tag in connectedTags track by tag.id" data-ng-dblclick="disconnect()">
		    </select><br>
			<button class="btn btn-default btn-xs"  data-ng-click="disconnect()">Frakoble</button>
  		</div>
  		
  		<div class="col-xs-6 col-sm-4">
		    <label for="available">Tilgjengelige<span class="visible-xs-inline"> ({{availableTags.length}})</span></label><br>
		    <select class="tagsSelect" name="available" id="available" size="6" data-ng-model="available" 
		    	data-ng-options="tag.name for tag in availableTags track by tag.id" data-ng-dblclick="connect()">
		    </select><br>
			<button class="btn btn-default btn-xs"  data-ng-click="connect()">Tilknytt</button>
  		</div>
  		<div class="col-xs-6 col-sm-3">
		    <label for="available">Ny sjanger</label><br>
		    <input type="text" class="form-control" id="newTag" data-ng-model="newTag">
			<button data-cg-busy="{promise:addTagPromise,message:'Lagrer'}" class="btn btn-default"  data-ng-click="addTag()">Legg til</button><br>
			<button class="btn btn-default"  data-ng-click="deleteTag()">Slett</button>
  		</div>
  	</fieldset>
  </div>
  <div class="form-group" data-ng-hide="isNew">
	<div class="col-xs-8 col-sm-7 col-md-6">
		<span class="listLabel">Note id: </span>{{sheet.noteId}} <span class="listLabel">Registrert: </span>{{sheet.registeredDate | date:'dd.MM.yyyy
						HH:mm'}}<span class="listLabel"> av </span>{{sheet.registeredBy}}
	</div>
  </div>
  <div class="form-group">
    <div class="col-sm-9 col-md-10 col-lg-8 text-right">
      <button data-ng-hide="isNew" type="submit" class="btn btn-danger"  data-ng-click="deleteSheet()"><span class="glyphicon glyphicon-trash"></span> Slett</button>
      <button type="submit" class="btn btn-default"  data-ng-click="newSheet()"><span class="glyphicon glyphicon-edit"></span> Ny</button>
      <button type="submit" class="btn btn-primary"  data-ng-click="saveSheet()"><span class="glyphicon glyphicon-floppy-save"></span> Lagre</button>
    </div>
  </div>
</form>
<h3 data-ng-hide="isNew" >Filer for: "{{sheet.title}}"</h3>
<div data-ng-hide="isNew" class="" data-cg-busy="{promise:getFilesPromise,message:'Henter filer'}">
	<div class="col-xs-12">
		<h4 class="sub-heading">Lagrede filer</h4>
		<div  data-ng-repeat="file in files">
			<div data-ng-if="$first" class="row listHeading">
				<div class="col-xs-4">Filnavn</div>
				<div class="col-xs-4">Beskrivelse</div>
				<div class="col-xs-1">KB</div>
				<div class="col-xs-3">Aktivitet</div>
			</div>
			<div data-ng-if="!file.isEditMode" data-ng-class-odd="'listodd'" data-ng-class-even="'listEven'" class="row">
				<div class="col-xs-4">{{file.name}}</div>
				<div class="col-xs-4">{{file.description}}</div>
				<div class="col-xs-1">{{file.fileSize/1024|number:2}}</div>
				<div class="col-xs-3">
					<button type="button" class="btn btn-primary btn-xs" data-ng-click="editFile(file.fileId)">
						<span class="glyphicon glyphicon-edit"></span> Endre</button>
					<button type="button" class="btn btn-danger btn-xs" data-ng-click="deleteFile(file.fileId,file.name)">
						<span class="glyphicon glyphicon-trash"></span> Slett</button>
					<a href="rest/noteservice/notefile/{{file.fileId}}/download?authInfo={{authInfo}}" class="btn btn-primary btn-xs" role="button">
						<span class="glyphicon glyphicon-download"></span> Last ned</a>	
					<a href="rest/noteservice/notefile/{{file.fileId}}?authInfo={{authInfo}}" target="_blank" class="btn btn-primary btn-xs" role="button">
						<span class="glyphicon glyphicon-open-file"></span> Åpne</a>	
				</div>
			</div>
			<div data-ng-if="file.isEditMode" data-ng-class-odd="'listodd'" data-ng-class-even="'listEven'">
				<div class="row">
					<label class="col-xs-2 control-label" >Navn</label>
					<div class="col-xs-6"><input class="form-control" type="text" style="display: inline; width: 85%" data-ng-model="file.splitName.name"><span >.{{file.splitName.ext}}</span></div>
				</div>
				<div class="row">
					<label class="col-xs-2 control-label">Beskrivelse</label>
					<div class="col-xs-6"><input type="text" class="form-control" data-ng-model="file.description"></div>
				<div class="col-xs-1">{{file.fileSize/1024|number:2}}</div>
				<div class="col-xs-3">
					<button type="button" class="btn btn-primary btn-xs" data-ng-click="saveFile(file.fileId)">
						<span class="glyphicon glyphicon-floppy-save"></span> Lagre</button>
					<button type="button" class="btn btn-danger btn-xs" data-ng-click="cancelEditFile()">
						<span class="glyphicon glyphicon-trash"></span> Avbryt</button>
				</div>
				</div>
			</div>
		</div>
		<div data-ng-if="files.length === 0">Ingen filer er registrert</div>
	</div>
	<div class="col-xs-12" style=" margin-bottom: 10px; margin-top: 10px; ">
		<h4 class="sub-heading">Velg filer som skal lastes opp</h4>
		<div class="col-xs-6" style="text-align: center; vertical-align: middle; display:table-cell;">
			<input  style="display: none;" type="file" data-nv-file-select="" data-uploader="uploader" multiple id="fileSelect" />
			<button style="display: inline-block;" type="submit" class="btn btn-primary btn-lg " data-ng-click="selectFiles()">Velg filer</button>
		</div>
		<div class="col-xs-6">
			<div class="well my-drop-zone" data-nv-file-drop="" data-nv-file-over="" id="fileDrop" data-over-class="drag-over" data-uploader="uploader">
				Dra filer hit for å laste dem opp
			</div>
		</div>
	</div>
	<div class="col-xs-12">
		<h4 class="sub-heading">Filer klar for opplasting</h4>
		<div data-ng-if="uploader.queue.length === 0">Ingen filer klar for opplasting</div>
		<div  data-ng-repeat="item in uploader.queue">
			<div data-ng-if="$first" class="row listHeading">
				<div class="col-xs-8">Filnavn/beskrivelse</div>
				<div class="col-xs-1">KB</div>
				<div class="col-xs-3">Aktivitet</div>
			</div>
			<div data-ng-class-odd="'listodd'" data-ng-class-even="'listEven'">
				<div class="row">
					<label class="col-xs-2 control-label" >Navn</label>
					<div class="col-xs-6"><input class="form-control" type="text" style="display: inline; width: 85%" data-ng-model="item.myData.splitName.name"><span >.{{item.myData.splitName.ext}}</span></div>
				</div>
				<div class="row">
					<label class="col-xs-2 control-label">Beskrivelse</label>
					<div class="col-xs-6"><input type="text" class="form-control" data-ng-model="item.myData.description"></div>
					<div class="col-xs-1">{{ item.file.size/1024|number:2 }}</div>
					<div class="col-xs-3"><button type="button" class="btn btn-danger btn-xs" data-ng-click="item.remove()">
	                                        <span class="glyphicon glyphicon-trash"></span> Fjern</button></div>
				</div>
			</div>
			<div data-ng-if="$last">
				<div>
					Opplastningsstatus:
					<div class="progress" style="">
						<div class="progress-bar" role="progressbar" data-ng-style="{ 'width': uploader.progress + '%' }"></div>
					</div>
				</div>
				<button type="submit" class="btn btn-primary" data-ng-click="uploadFiles()">Last opp
					filer</button>
			</div>
		</div>
	</div>
</div>
  