/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 25px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 20px;
  background-color: #ecf8ed;
}
.footer-text {
	text-align: center;
	font-style: italic;
	font-size: small;
	padding: 0;
	margin: 0;
	
/*   margin: 20px 0; */
}
/* Sticky footer styles end
-------------------------------------------------- */

textarea.ta-vertical {
	resize: vertical;
}

h3.pagetop {
	margin-top: 0px;
}
h4.sub-heading {
	color: #46ba4e;
}
.drag-over { 
	background-color:  #ecf8ed;
}
.small-spacer {
    margin-top: 5px; 
}

div.listHeading {
	font-weight: bolder;
	background-color: #46ba4e; /*#d9d9d9;*/ 
	font-size: larger;
}
a.listHeading {
	color: black;
	cursor: pointer;
	text-decoration: underline;
}
.listEven {
	background-color: #ecf8ed;
}
.listodd {
	background-color: #fffffa;
}
div.expanded {
	margin-bottom: 10px;
	margin-top: 10px;
	margin-left: -15px;
	margin-right: -15px;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
    border-radius: 25px;
    border: 1px solid #46ba4e;
}
.topBorder {
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #d9d9d9;
}
.sheetHeading {
	cursor: pointer;
	font-size: 1.2em;
}
.listLabel {
	font-weight: bold;
}
label.horz-radio {
	margin-right: 10px;
}


fieldset.voices-border {
    border: 1px groove #ddd !important;
    padding: 0 0 0 0.8em !important;
    margin: 0 0 0 15px !important;
/*     -webkit-box-shadow:  0px 0px 0px 0px #000; */
/*             box-shadow:  0px 0px 0px 0px #000; */
}

 legend.voices-border {
     font-size: 1em !important;
     font-weight: bold !important;
     text-align: left !important;
     width:auto;
     padding:0 10px;
     margin-bottom: 10px;
     border-bottom:none;
 }

select.tagsSelect {
	width: 10em
}

form.main {
	background-color: #fffffa;
	border-style: solid;
	border-width: 1px;
	border-color: #ffff66;
	padding-left : 10px;
	padding-right: 10px;
	padding-top: 10px;
	margin-bottom: 10px;
}

/* START
copy bootstrap navbar color
http://work.smarchal.com/twbscolor/
*/
.navbar-default {
  background-color: #46ba4e;
  border-color: #61e86b;
}
.navbar-default .navbar-brand {
  color: #101111;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #8b0c7c;
}
.navbar-default .navbar-text {
  color: #101111;
}
.navbar-default .navbar-nav > li > a {
  color: #101111;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #8b0c7c;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #46ba4e;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #101111;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #8b0c7c;
  background-color: #61e86b;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #46ba4e;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #8b0c7c;
  background-color: #61e86b;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #8b0c7c;
  background-color: #61e86b;
}
.navbar-default .navbar-toggle {
  border-color: #61e86b;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #61e86b;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #101111;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #101111;
}
.navbar-default .navbar-link {
  color: #101111;
}
.navbar-default .navbar-link:hover {
  color: #8b0c7c;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #101111;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #8b0c7c;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #8b0c7c;
    background-color: #61e86b;
  }
}

/* END
copy bootstrap navbar color
*/
