<h3 class="pagetop">Glemt bruker/passord</h3>
<form data-cg-busy="{promise:pagePromise,message:promiseMsg}" class="form-horizontal">
  <div class="form-group" data-ng-show="!forgotPwMailSendt">
    <div class="col-sm-6">Legg inn bruker eller e-post i feltet nedenfor og trykk Nullstille passordet knappen.<br />
    Systemet vil sende deg en e-post med en link der du kan sette et nytt passord.<br />
    Hvis du ikke husker e-post eller bruker så må du kontakte din  notearkiv ansvarlige.</div>
  </div>
  <div class="form-group" data-ng-show="!forgotPwMailSendt">
    <label for="user" class="col-sm-2 control-label">Bruker eller e-post</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="user" data-ng-model="userOrEmail" placeholder="Bruker eller e-post adresse">
    </div>
  </div>
  <div class="form-group"  data-ng-show="!forgotPwMailSendt">
    <div class="col-sm-2"></div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-default"  data-ng-click="doForgotPw()">Nullstille passordet</button>
    </div>
  </div>
  <div class="form-group"  data-ng-show="forgotPwMailSendt">
    <div class="col-sm-6">Da er det sendt en e-post til <b>{{user.eMail}}</b> Lukk denne siden og følg anvisningene i e-posten du fikk.<br />
    Hvis du ikke finner e-posten så husk å sjekke søppelpost mappen din. <br /><br />
    Svar på e-posten vil ikke bli lest. Har du noen spørsmål kontakt din notearkiv ansvarlige.</div>
  </div>
</form>
