<h3 class="pagetop">Angi passord</h3>
<div data-ng-show="errorMsg" class="alert alert-danger" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  {{errorMsg}}
</div>

<form data-ng-show="user" data-cg-busy="{promise:pagePromise,message:promiseMsg}" class="form-horizontal">
  <div class="form-group">
    <div class="col-sm-7">Hei {{user.name}}.<br />
    Her kan du skrive ditt nye passord 2 ganger og trykke "Angi passord" knappen for å angi passordet.</div>
  </div>
  <div class="form-group">
    <label for="user" class="col-sm-2 control-label">Bruker</label>
    <div class="col-sm-5">
      <input type="text" readonly class="form-control" id="user" data-ng-model="user.no" placeholder="Bruker">
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword" class="col-sm-2 control-label">Nytt</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="newpassword" data-ng-model="info.newpassword" placeholder="Nytt passord">
    </div>
  </div>
  <div class="form-group">
    <label for="repeatpassword" class="col-sm-2 control-label">Gjenta</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="repeatpassword" data-ng-model="info.repeatpassword" placeholder="Gjenta nytt passord">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-2">
      <button type="submit" class="btn btn-default"  data-ng-click="doSetPassword()">Angi passord</button>
    </div>
  </div>
</form>
