<h3>Bytt passord</h3>
<div data-ng-show="changePwMsg" class="alert alert-warning" role="alert">
  <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
<!--   <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> -->
  {{changePwMsg}}
</div>
<form class="form-horizontal">
  <div class="form-group">
    <label for="user" class="col-sm-1 control-label">Bruker</label>
    <div class="col-sm-5">
      <input type="text" readonly class="form-control" id="user" data-ng-model="info.user" placeholder="Bruker">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-1 control-label">Nåværende</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="password" data-ng-model="info.password" placeholder="Nåværende passord">
    </div>
  </div>
  <div class="form-group">
    <label for="newpassword" class="col-sm-1 control-label">Nytt</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="newpassword" data-ng-model="info.newpassword" placeholder="Nytt passord">
    </div>
  </div>
  <div class="form-group">
    <label for="repeatpassword" class="col-sm-1 control-label">Gjenta</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="repeatpassword" data-ng-model="info.repeatpassword" placeholder="Gjenta nytt passord">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-1">
      <button type="submit" class="btn btn-default"  data-ng-click="doChangePassword()">Lagre</button>
    </div>
  </div>
</form>
