<h3 class="pagetop">Logg inn</h3>
<form class="form-horizontal">
  <div class="form-group">
    <label for="user" class="col-sm-1 control-label">Bruker</label>
    <div class="col-sm-5">
      <input type="text" class="form-control" id="user" data-ng-model="info.user" placeholder="Bruker">
    </div>
  </div>
  <div class="form-group">
    <label for="password" class="col-sm-1 control-label">Passord</label>
    <div class="col-sm-5">
      <input type="password" class="form-control" id="password" data-ng-model="info.password" placeholder="Passord">
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1 col-sm-1">
      <button type="submit" class="btn btn-default"  data-ng-click="doLogon()">Logg inn</button>
    </div>
  </div>
</form>
